
@{
    ViewBag.Title = "EstratoC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Cambio de Estrato</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>Cambio de Estrato</h3>
        @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
        {
            <div class="alert alert-danger">@ViewBag.Notificacion</div>
        }
        @using (Html.BeginForm("verificarParaEstrato", "Home", FormMethod.Post))
        {
            <table>
                <h4> Para el cambio de estrato el cliente debe ingresar su identificacion  </h4>
                <tr>
                    <td><label>Identificación:                       </label></td>
                    <td><input type="text" name="idEstratoC" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                </tr>
                <tr>
                    <td><br /></td>
                    <td></td>
                </tr>
                <tr>

                    <td><label>Estrato:  </label></td>
                    <td>
                        <select name="varEstratoC" style="width: 300px;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><br /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" name="enviar" value="Enviar" /></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>



