@model Servicios_Entrega3.Models.Persona
@{
    ViewBag.Title = "mostrarActualizarConsumoActualAgua";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Actualizar Consumo Actual de Agua</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>Actualizar Consumo Actual de Agua</h3>
        <form action="cambioCosto" method="post">
            <table>
                @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
                {
                    <div class="alert alert-success">@ViewBag.Notificacion</div>
                }

                <tr>
                    <label>El cliente identificado con el numero: </label>
                    <div class="text-muted">
                        @Model.Identificacion
                    </div>
                </tr>
                <tr>
                    <label>Presenta este consumo actual de agua: </label>
                    <div class="text-muted">
                        @Model.Cliente.Consumoactualagua
                    </div>
                </tr>
                @using (Html.BeginForm("cambioConsumoActualAgua", "Home", FormMethod.Post))
                {
                    <tr>
                        <td><label>Nuevo Conusmo de Agua:  </label></td>
                        <td><input type="text" name="nuevoConsumoAgua" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="enviar" value="Enviar" /></td>
                    </tr>
                }
            </table>
        </form>
    </div>
</body>
</html>
