@model Servicios_Entrega3.Models.Persona
@{
    ViewBag.Title = "mostrarMetaAhorroEnergia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Actualizar Historia Clinica</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <h3>Actualizar Historia Clinica</h3>
        <form action="cambioHistoriaClinica" method="post">
            <table>
                @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
                 {
                    <div class="alert alert-success">@ViewBag.Notificacion</div>
                 }

            <tr>
                <label>El cliente identificado con el numero:  </label>
                <div class="text-muted">
                    @Model.Identificacion
                </div>
            </tr>
                
            <tr>
                <label>Presenta esta meta de ahorro de energia: </label>
                <div class="text-muted">
                    @Model.Cliente.Metaahorroenergia
                </div>
            </tr>
                @using (Html.BeginForm("cambioMetaAhorroEnergia", "Home", FormMethod.Post))
                {
                    <tr>
                        <td><label>Nueva Meta de Ahorro de Energia:  </label></td>
                        <td><input type="text" name="nuevaMetaAhorroEnergia"pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" name="enviar" value="Enviar" /></td>
                    </tr>
                }
            </table>
        </form>
</div>
</body>
</html>

